body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px;
  width: 70px;
}

#display {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border: 2px solid blue;
}

#main,
#register {
  /* height: 20px; */
  border: 2px solid red;
}

#buttons {
  display: flex;
}

#numberBtns {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
}

#operationBtns {
  display: flex;
  flex-direction: column;
}

#zero {
  width: 140px;
}
