body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

button {
  padding: 10px;
  width: 70px;
}

#calculator {
  font-family: 'Source Code Pro', monospace;
  background-color: lightgrey;
  border-radius: 10px;
}

#display {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid blue; */
  background-color: white;
  color: #026c6c;
  height: 50px;
  padding: 0px 15px;
  margin: 15px;
  5px;
}

#main {
  font-size: 28px;
  height: 30px;
}

#register {
  /* font-size: 18px; */
  /* height: 18px; */
}

#main,
#register {
  /* border: 2px solid red; */
}

#buttons {
  display: flex;
  margin: 15px;
}

#numberBtns {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
}

#operationBtns {
  display: flex;
  flex-direction: column;
}

#zero {
  width: 140px;
}

#zero,
#point,
#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine {
  background-color: #4a4a4a;
  color: white;
}

#clear,
#sign,
#mod {
  background-color: #93b7b8;
}

#divide,
#multiply,
#subtract,
#add,
#equals {
  background-color: #026c6c;
  color: white;
}

#zero,
#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#clear,
#sign,
#mod,
#point,
#divide,
#multiply,
#subtract,
#add,
#equals,
#display {
  border-radius: 20px;
}
